env

AI.py

Data-Analysts.py

main.py

streamlit_app_12.py

sum_only.py

Task_2.py

dummy_data_full_with_skills.json

dummy_data_full.json

extended_dummy_data.json

student_fake_data.json

fake_data.json

.DS_Store

four_students.json