env

AI.py

Data-Analysts.py

learning_analytics.py

main.py

New_Code.py

streamlit_app_1.py

streamlit_app_12.py

streamlit_beta.py

sum_only.py

Task_2.py

dummy_data_full_with_skills.json

dummy_data_full.json

extended_dummy_data.json

student_fake_data.json